<div class='experiment'>
  <% short_circuit = Abingo.cache.read("Abingo::Experiment::short_circuit(#{experiment.test_name})".gsub(" ", "")) %>
  <% if experiment.status != 'Live' %>
    <div class='completed'><h2><%= experiment.test_name.titleize %></h2> <span>Completed</span></div>
  <% else %>
    <h2><%= experiment.test_name.titleize %></h2>
  <% end %>
  <table class='table'>
    <tr class='alt'>
      <th class='first'>Name</th>
      <th>Participants</th>
      <th>Conversions</th>
      <th>Notes</th>
    </tr>
    <% experiment.alternatives.each do |alternative| %>
      <tr class="<%= cycle('even', '') %>">
        <td class='first'><%= alternative.content %></td>
        <td><%= alternative.participants %></td>
        <td><%= alternative.conversions %> (<%= alternative.pretty_conversion_rate %>)</td>
        <td>
          <% unless experiment.status != "Live" %>
            <%= link_to "End experiment and pick this", url_for(:id => alternative.id, :action => "end_experiment"), :method => :post, :confirm => "Are you sure you want to terminate this experiment? This is not reversible." %>
          <% else %>
            <strong><%= "All users seeing this" if alternative.content == short_circuit %></strong>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class='first'>Total</td>
      <td><%= experiment.participants %></td>
      <td><%= experiment.conversions %> (<%= experiment.pretty_conversion_rate %>)</td>
      <td></td>
    </tr>
  </table>
  <h3>Significance test results: <span><%= experiment.describe_result_in_words %></span></h3>
</div>